.room{
  display: flex;
  width: 1400px;
  height: 700px;
  margin:  0 auto;
}
.room-box-chat {
  display: flex;
  margin: 10px 0 5px 5px;
  width: 400px;
  flex-direction: column;
  align-items: center;
}
.taimer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 200px;
  height: 40px;
  border: 1px black solid;
  font-size: 30px;
}
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px black solid;
  margin-top: 5px;
}
.chats {
  width: 100%;
  align-self: flex-start;
}
.peace-chat {
  width: 50%;
}
.mafia-chat {
  width: 50%;
}
.role {
  width: 100%;
  text-align: center;
  align-self: flex-end;
}
.message {
  width: 100%;
  align-self: flex-end;
}
.message-area {
  width: 100%;
  height: 100%;
}
.text-area {
 width: 86%;
}
.room-box-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 10px 5px 5px 5px;
}
.room-id {
 width: 80%;
 border: 1px black solid;
}
.players {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.fouth-players {
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(2, 200px);
  grid-gap: 50px;
}

.sixth-players {
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 50px;
}

.ninth-players {
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 30px;
}

.box-player {
  display: flex;
  border: 1px solid black;
}

.player-name {
  width: 100%;
  display: flex;
  align-self: flex-end;
}
.text-name-area {
  width: 240px;
}
.ready-button {
  width: 50px;
  height: 25px;
}
.take-place {
  position: relative;
  width: inherit;
  height: inherit;
  font-size: 50px;
}
.other-player {
  width: 300px;
  height: 25px;
  border: 1px black solid;
}
.green-board {
  border: 2px green solid;
}
.box-player {
  width: inherit;
  height: inherit;
}
.players-box-four {
  margin-left: 750px;
}
.players-box-six {
  margin-left: 600px;
}
.players-box-nine {
  margin-left: 400px;
}